{% extends "base.html" %}
{% set active_page = "about" %}

{% block title %}
О корпусе
{% endblock %}

{% block content %}
<h1>О корпусе</h1>
Эксперименты по применению методов компьютерной лингвистики к корпусу богослужебных текстов Православной Церкви.
<h2>Гимны</h2>
<p>
  Гимны - фрагменты строк, разделенные вставками из киновари. Иногда абзац совпадает с гимном, но он может также содержать много гимнов, если в нем много раз встречается киноварь.
</p>
<h2>Типы сходства гимнов</h2>
<h3>Полные дубликаты</h3>
<p>Фрагменты полностью совпадают.</p>

<h3>Дубликаты без учета регистра и пунктуации</h3>
<p>Совпадает текст фрагментов, но может отличаться пунктуация или регистр букв.</p>



{% endblock %}
