{% extends "base.html" %}
{% set active_page = "gloss" %}

{% block title %}
Глоссарий
{% endblock %}

{% block content %}
<h1>Глоссарий</h1>

<p>
  <b>Библия</b> – собрание священных текстов, составляющих в христианстве и иудаизме Священное Писание. В христианстве Священным писанием является — Ветхий Завет, состоящий из книг Танаха, Новый Завет и дополнительные священные книги, разные в православии и католицизм. В иудаизме Священным Писанием является Танах (называемый также еврейской Библией). Различия в Библиях различных Церквей и конфессий состоят в наличии дополнительных книг и отрывков в Ветхом Завете и в некоторых отличиях в переводе. В православии эти дополнительные тексты названы неканоническими, в католицизме — второканоническими; в протестантизме — апокрифическими.
</p>
<p>
  <b>Часослов</b> – богослужебная книга, содержащая неизменяемые молитвы суточного богослужебного круга.
</p>

<p>
  <b>Требник</b> или Евхологий, Евхологион, Потребник (греч. Εὐχολόγιον «Сборник молитв» или «Молитвослов» о εὐχή «молитва» + λέγω «собирать»).
Требник – православная богослужебная книга, в которой собраны молитвы на разные случаи.
</p>

<p>
  <b>Минеи</b> (от μηναῖον «месячный, одномесячный, длящийся месяц»).
Минея – богослужебный сборник, содержащий или службы неподвижных (приходящихся на фиксированные даты) праздников церковного года (служебные минеи), или тексты житийного и поучительного характера предназначенные для домашнего или келейного чтения (четьи минеи).
</p>

<p>
  Среди служебных миней выделяют:
</p>

<p>
  <b>Месячную минею</b>, содержащую службы святым на каждый день года. Поэтому служебные минеи часто разделяется на 12 томов по числу месяцев.
</p>
<p>
  <b>Праздничную минею</b> (Анфологий) которая, содержит службы наиболее важных праздников. Эти службы выбраны из месячной минеи.
</p>
<p>
  <b>Общую минею</b>, содержащую общие, «типовые» службы ликам святых (пророку, апостолу, нескольким апостолам, святителю, нескольким святителям и т. п.). Общая минея используется при отсутствии месячной или если служба конкретному святому не была составлена.
</p>
<p>
  <b>Четьи минеи</b> предназначены для домашнего или келейного чтения и являются аналогом книг житий святых на каждый день года.
</p>
<p>
  <i>*«Зеленые» минеи были изданы изданы в 2002 году по благословению Святейшего Патриарха Московского и всея Руси Алексия II Издатательским Советом Русской Православной Церкви</i>
</p>

<p>
  <b>Октоих</b> или Октай, Осмогласник (греч. Ὀκτώηχος «восьмигласник» от ὀκτώ «восемь» + ἦχος «глас»).
  Октоих – богослужебная книга Православной церкви, содержащая в себе чинопоследования вечерни, повечерия, утрени и литургии для шести будничных дней недели. Все эти песнопения разделяются на восемь гласов по способу пения или напевов, каждый из которых употребляется во время одной седмицы. Название книги восходит к византийской ладовой системе.
</p>

<p>
  <b>Триодь</b> или Триодион (греч. Τριῴδιον от τρία «три» и ᾠδή, ᾠδά «песнь»).
Богослужебная книга православной церкви, содержащая каноны, состоящие из трех песней, откуда и происходит название книги. Триоди покрывают круг подвижных праздников года, даты которых меняются в зависимости от дня празднования Пасхи: от подготовительных седмиц к Великому посту (от Недели о мытаре и фарисее) до первого воскресенья после праздника Святой Троицы (до Недели Всех святых). Первые две подготовительные седмицы Триодь используется только в воскресной службе на Неделю о мытаре и фарисее и на Неделю о блудном сыне, а начиная со службы на субботу перед Неделей о Страшном Суде — ежедневно.
</p>

<p>
  <b>Триодь постная</b>, Трипеснец (греч. Τριῴδιον, от τρία «три» и ᾠδή, ᾠδά «песнь»).
Постная триодь содержит в себе молитвы на дни Великого поста с приготовительными седмицами к нему и Страстной седмицы начиная с Недели о мытаре и фарисее и до Великой субботы включительно. Постная триодь содержит песнопения авторов VIII – IX вв., среди которых: Андрей Критский, Косма Маюмский, Иоанн Дамаскин, император Лев Мудрый, Феофан Начертанный.
</p>

<p>
  <b>Триодь Цветная</b> – (греч. Πεντηκοστάριον, от Πεντηκοστή «Пятидесятница»).
  Триодь цветная заключает в себе песнопения от Недели Пасхи до Недели Всех святых, (следующего воскресенья после Пятидесятницы). Название «Цветная триодь» происходит от праздника Входа Господня во Иерусалим или Неделя ваий (Цветная Неделя), поскольку в ранней богослужебной традиции вторая часть Триоди начиналась со службы вечерни пятницы, накануне Лазаревой субботы, связанной с праздником Входа Господня во Иерусалим. В России такое деление Триоди сохранялось до середины XVII века и было изменено в ходе реформы патриарха Никона. В старообрядческих изданиях по древней традиции Триодь постная закачивается вместе с Четыредесятницей, а Триодь цветная начинается с Лазаревой субботы.
</p>



{% endblock %}
