{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}
Главная
{% endblock %}

{% block content %}

  <h1>Церковнославянский корпус</h1>
  <h3>О ресурсе</h3>
  <p>
    Здесь можно изучить структуру богослужебных текстов и найти сходства их фрагментов. Тексты разделены на главы, главы - на абзацы, а абзацы - на гимны, отдельные фрагменты строк, которые находятся между киноварных (пояснительных) вставок. Открыв отдельный гимн, вы увидите номера всех похожих на него гимнов. Нажав на номер похожего гимна, можно посмотреть на информацию о каждом из них.
  </p>
  <h3>Тексты корпуса</h3>
  <ul>
    {% for row in rows %}
    <li>
    <a href="{{url_for('view', num = row['id'])}}">{{row["name_long"]}}</a>
  </li>
    {% endfor %}
  </ul>


{% endblock %}
